.product-item:hover .product-item__option {
  display: flex;
  transition: all 1s ease-in;
}

.product-item__option {
  display: none;
}

.listSwiper .swiper-slide-thumb-active {
  border: 2px solid green;
  border-radius: 10px;
}
img {
  max-width: 100%;
  height: auto;
}

div {
  color: #181024;
}
