.product-item:hover .product-item__option {
  display: flex;
  transition: all 1s ease-in;
}

.product-item__option {
  display: none;
}

.slide-active {
  border: 2px solid green;
  border-radius: 10px;
}
